@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/*all content*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}



/*head content*/

#head-menu {
    background-color: #FFD21E;
    width: 1920px;
    height: 150px;
    position: absolute;
}

#menu-bar {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 70px;
    left:590px;   
}

#menu-bar button {
    font-family: 'Poppins', sans-serif;
    max-height: fit-content;
    padding: 10px 40px;
    margin: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
}

#menu-bar button:hover {
    text-decoration: underline;
    
}

.gg-list, .gg-briefcase, .gg-box{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:18px;
    left:-30px;
}

.gg-math-percent {
    position: absolute;
    top:10px;
    left:-30px;
}

.gg-close-o{
    position: absolute;
    top: -198px;
    left: 405px;
    cursor: pointer;
}

#full-search-bar {
    position: absolute;
    left: 30px;
}

.search-bar{
    position: absolute;
    top:10px;
    left:600px;
    width: 600px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 1185px;
    width: 35px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    
}

.search-button i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*main content styles*/
main{
    position: absolute;
}

img{
    max-width: 303.5px;
    position: absolute;
    left:-29px;
}

.logo {
    position: absolute;
    left: 565px;
    top: 240px;
}

.login-icon img{
    position: absolute;
    top: 15px;
    left: 1400px;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.login-container {
    position: absolute;
    width: 480px;
    height: 600px;
    left: 840px;
    top: 240px;
    background: #FFD21E;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
}

#login-box{
    display: none;
}

.login-title{
    font-size: 50px;
    margin:30px;
    margin-bottom: 100px;
}


.login-footer{
    position: absolute;
    top: 560px;
    left:50px;
    color: black;
}

.login-container a {
    color: black;
}

span {
    position: absolute;
    left:45px;
}

.email {
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    margin-bottom: 25px;
}

.pass{
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
}





.checkbox {
    position: absolute;
    left: 50px;
    top:382px;
    
}

.conectado {
    position: absolute;
    left: 70px;
}



.enter {
    position: absolute;
    top: 460px;
    left: 185px;
    padding: 8px 20px;
    border: none;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    background-color: #3AB6FE;
}

.enter:hover {
    background-color: #3aa1fe;
}
/*end of main content styles*/


