@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

main{
    position: absolute;
    
    
}

img{
    max-width: 278px;
}

.logo {
    position: absolute;
    left: 565px;
    top: 240px;
}


.login-container {
    position: absolute;
    width: 480px;
    height: 550px;
    left: 840px;
    top: 240px;
    background: #FFD21E;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    
}

.login-title{
    font-weight:600;
    margin:30px;
    margin-bottom: 100px;
}

.login-footer{
    position: absolute;
    top: 500px;
    left:60px;
    color: black;
}

.login-container a {
    color: black;
}


span {
    position: absolute;
    left:90px;
}

.email, .pass{
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 1px;
}

.checkbox {
    position: absolute;
    left: 90px;
    top:310px;
    
}

.conectado {
    position: absolute;
    left: 110px;
}

.enter {
    position: absolute;
    top:375px;
    left:180px;
    padding: 8px 30px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    background-color: #3AB6FE;
}

.enter:hover {
    background-color: #3aa1fe;
}



